:root
{
	--cor-primaria: #008EFA;
	--cor-secundaria: #0B4DE3;
	--cor-terciaria: #0BBEE3;
	--cor-escura: #0D16FD;
	--cor-clara: #0DFDE5;
}


/* CSS reset */
 
* { /* Todos os elementos */
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* Faz com que bordas e margens sejam considerados no tamanho total do elemento */
    box-sizing: border-box;
}

header
{
	background-color: var(--cor-primaria);
}

nav
{
	background-color: var(--cor-terciaria);
	color: #FFFFFF;
}

nav ul li
{
	display: inline-block;
	margin: 10px;
}
